{% extends 'base.html.twig' %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div style="padding: 20px; margin-bottom: 20px; background-color: palegreen;">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ form(form) }}
{% endblock %}
